#copy_right_footer
{
    margin: 10px;
    position: fixed;
    width: 100%;
    color: black;
    background-color: grey;
    line-height: 3;
    text-align: center;
    bottom: 0;
}

body
{
    background-size: cover;
}

#div
{
    width: 100%;
}

#my h4
{
  color: white;
}

canvas
{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px grey;
}